@media (max-width: 768px) {
    .newsLetterWrapper {
        position: relative;
        width: 100%;
        margin: 20px 0px;
        height: 450px;
        padding: 0px 20px;
        background: url(../../public/images/bg.png);
        border-radius: 20px;
    }

    .newsLetterWrapper img {
      display: none !important;
    }

    .newsLetterWrapper h3 {
        width: 100%;
        z-index: 100;
        font-size: 30px;
        padding-bottom: 15px;
    }

    .newsLetterWrapper p {
        width: 100%;
        color: #000;
        padding-bottom: 15px;
    }

    .newsLetterWrapper .newsletterbanner {
        z-index: 100;
        position: relative;
        background-color: white;
        width: 100%;
        height: 60px;
        border-radius: 60px;
    }

    .newsLetterWrapper .newsletterbanner input {
        border: 0px;
        width: 80%;
        height: 100%;
        font-size: 16px;
    }
    
    .newsLetterWrapper .newsletterbanner svg {
        position: absolute;
        left: 15px;
        font-size: 20px;
        top: 25%;
        transform: rotate(-35deg);
    }
    
    .newsLetterWrapper .newsletterbanner button {
        height: 100%;
        font-size: 13px;
        padding: 4px 15px;
        border-radius: 40px;
        
    }


}