.pageBanner {
    width: 100%;
    background-color: #DCF0E5;
    height: auto;
    border-radius: 20px;
    padding: 45px 25px;
    margin-bottom: 35px;
  }
  
  .pageBanner ol li {
    margin-right: 5px;
  }
  
  .pageBanner ol li a {
    text-decoration: none;
    color: black;
  }
  