@media (max-width:768px){
    .productDetails .row {
        padding: 0px 20px;
      } 
      .productDetails .details {
        padding: 30px 20px;
      }
      .productDetails .details h2 {
        font-size: 40px;
      }
      .productDetails .sizes {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .productDetails .counter {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .addToCart{
        width: 100%;
        justify-content: center;
      }
      .productDetails .counter input {
        width: 40%;
    }
    .share{
        justify-content: center;
    }
}